<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="log4j2-properties.xml" />

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG}" />
        </Console>
        <Kafka name="Kafka" topic="kafka-json-data">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="${JSON_LOG_PATTERN}" alwaysWriteExceptions="false">
                    <PatternMatch key="AUX_JSON" pattern="${JSON_LOG_PATTERN}"/>
                </MarkerPatternSelector>
            </PatternLayout>
            <Property name="bootstrap.servers">${env:KAFKA_BOOTSTRAP_SERVER:-localhost:9092}</Property>
            <Property name="timeout.ms">5000</Property>
        </Kafka>
        <Async name="AsyncKafka" bloking="false" shutdownTimeout="25000">
            <AppenderRef ref="Kafka"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncKafka"/>
        </Root>
    </Loggers>
</Configuration>